*, *:before, *:after {
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0
}

html {
  box-sizing: border-box;
}

img {
  border: 0 none
}

body {
  font-size: 11px;
  color: #000000;
  font-weight: normal;
  font-family: 'orbitronregular', sans-serif, serif;
  min-height: 650px;
}

b, strong {
  font-weight: 700
}

p {
  margin: 0
}

i {
  font-style: italic
}

small {
  text-transform: lowercase
}

ul li {
  list-style: none
}

body{

}

body, html{
  height: 100%;
}

@font-face {
  font-family: 'orbitronbold';
  src: url('./assets/fonts/orbitron-bold-webfont.eot');
  src: url('./assets/fonts/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/orbitron-bold-webfont.woff2') format('woff2'),
  url('./assets/fonts/orbitron-bold-webfont.woff') format('woff'),
  url('./assets/fonts/orbitron-bold-webfont.svg#orbitronbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitronregular';
  src: url('./assets/fonts/orbitron-regular-webfont.eot');
  src: url('./assets/fonts/orbitron-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/orbitron-regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/orbitron-regular-webfont.woff') format('woff'),
  url('./assets/fonts/orbitron-regular-webfont.svg#orbitronregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitron_mediumregular';
  src: url('./assets/fonts/orbitron-medium-webfont.eot');
  src: url('./assets/fonts/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/orbitron-medium-webfont.woff2') format('woff2'),
  url('./assets/fonts/orbitron-medium-webfont.woff') format('woff'),
  url('./assets/fonts/orbitron-medium-webfont.svg#orbitron_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenirregular';
  src: url('./assets/fonts/avenir_45_book-webfont.eot');
  src: url('./assets/fonts/avenir_45_book-webfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/avenir_45_book-webfont.woff2') format('woff2'),
  url('./assets/fonts/avenir_45_book-webfont.woff') format('woff'),
  url('./assets/fonts/avenir_45_book-webfont.svg#avenirregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.ps-content{
  height: 100%;
}
.ps__rail-x{
  display: none!important;
}

.legend-labels{
  min-width: 140px;
}

.mat-expansion-panel-body{
  margin: 0!important;
  padding: 0!important;
}
.mat-expanded{
  background: rgb(245, 245, 245)!important;
}
.mat-expansion-panel {
  border-radius: 0;
  box-shadow: none!important;
  border-bottom: 1px solid silver;
}
.mat-expansion-panel-spacing{
  margin: 0!important;
}
.mat-expansion-panel-header{
  padding: 0;
}

.spinner {
  left: 50%;
  margin-left: -16px;
  top: 50%;
  margin-top: -16px;
  position: absolute;
  z-index: 19 !important;
  animation: loading-bar-spinner 400ms linear infinite;
}

.spinner .spinner-icon {
  width: 32px;
  height: 32px;
  border:  solid 4px transparent;
  border-top-color:  #FFFFFF !important;
  border-left-color: #FFFFFF !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.mat-tooltip{
  overflow: initial!important;
}
.tooltip {
  font-family: 'avenirregular'!important;
  font-size: 13px!important;
  white-space: pre-line!important;
  line-height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px!important;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #f4708f;
  background: #0f59d1;
  background: linear-gradient(135deg, #0f59d1 0%, #2b6dff 40%, #ff7089 100%);
  overflow: initial;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    content: "";
    width: 0;
    height: 0;
    margin: -9px 0 0 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #b070b7;
  }
}

@media screen and (max-width: 480px){
  #ual-modal{
    position: fixed !important;
    top: 50% !important;
    left: 15px !important;
    right: 15px !important;
    margin: -100px 0 0 0!important;
    width: auto !important;
    height: auto !important;
    overflow: hidden !important;
    border-radius: 3px!important;
  }
  #ual-learnMoreContainer {
    padding-bottom: 21px!important;
  }
  .ual-modal-close {
    margin: 0!important;
    position: absolute!important;
    top: 15px!important;
    right: 15px!important;
  }
  .ual-modal-content-description {
    margin: 30px auto 0 auto;
  }
  #ual-modal-selection-content {
    padding: 15px!important;
  }
}

#ual-button{
  border: none;
}

.ps-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.token__list-scroll{
  .ps-content {
    display: block!important;
  }
}


@media only screen and (max-width: 480px){
      #ual-button {
        width: 100%!important;
        padding: 12px 20px!important;
      }
      #ual-modal-selection-content {
        width: 100%!important;
        border: 0;
        border-radius: 0;
        height: 100%!important;
        overflow: hidden!important;
        padding: 0!important;
        margin: 0!important;
        background: rgba(255, 255, 255, 0.92)!important;
        display: flex!important;
        flex-direction: column;
        justify-content: center;
      }
  .ual-modal-close {
    align-self: flex-end;
    margin: 0 25px 0 0;
  }
  .ngx-charts-outer {
    width: 254px!important;
  }
  .chart-legend {
    margin-top: -27px!important;
  }
}


