$blue-color: #0F59D1;


.container{
  width: 100%;
  height: 100%;
}
.background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  .gradient{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f59d1+0,4096ee+100&0.54+0,0+100 */
    background: -moz-linear-gradient(45deg,  rgba(15,89,209,0.45) 0%, rgba(64,150,238,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(15,89,209,0.45) 0%,rgba(64,150,238,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(15,89,209,0.45) 0%,rgba(64,150,238,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a0f59d1', endColorstr='#004096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 2;
  }

  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  .stars, .twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }
  .stars {
    background:#000 url(../../assets/images/bg.png) no-repeat top center;

    z-index:0;
  }
  .twinkling{
    background:transparent url(../../assets/images/twinkling.png) repeat top center;
    z-index:1;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 5px 25px;
  display: flex;
  background: $blue-color;
  z-index: 10;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__title{
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 95px 0 15px 0;
}
.content-wrap{
  position: relative;
  z-index: 10;
  overflow: auto;
  width: 100%;
  align-self: center;
  justify-content: center;
  flex-direction: row;

  -moz-transition: opacity 1s ease-out, -moz-transform 0.75s ease-out;
  -webkit-transition: opacity 1s ease-out, -webkit-transform 0.75s ease-out;
  -ms-transition: opacity 1s ease-out, -ms-transform 0.75s ease-out;
  transition: opacity 1s ease-out, transform 0.75s ease-out;
  -moz-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;

  height: 100%;
  max-height: 500px;
  //background: #FFFFFF;
}
.content-scroll{
  display: block;
}
.panel{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  left: 50%;
  margin-left: -325px;
  box-shadow: 0 5px 16px 1px rgba(0, 0, 0, 0.4);
}
.box{
  position: relative;
  width: 650px;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  &-1{
    background: #FFFFFF;
    z-index: 10;
  }
  &-2{
    background: #FFFFFF;
    z-index: 9;
  }
  &-3{
    background: #FFFFFF;
    z-index: 8;
  }
  &-4{
    background: #FFFFFF;
    z-index: 7;
  }
  &-5{
    background: #FFFFFF;
    z-index: 6;
  }
  &-6{
    background: #FFFFFF;
    z-index: 5;
  }
  &-7{
    background: #FFFFFF;
    z-index: 4;
  }
}

.box__welcome{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f59d1+0,2b6dff+40,ff7089+100 */
  background: rgb(15,89,209); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(15,89,209,1) 0%, rgba(43,109,255,1) 40%, rgba(255,112,137,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(15,89,209,1) 0%,rgba(43,109,255,1) 40%,rgba(255,112,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(15,89,209,1) 0%,rgba(43,109,255,1) 40%,rgba(255,112,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f59d1', endColorstr='#ff7089',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.box__welcome-wrap{
  padding: 70px 100px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.box__welcome-title{
  position: relative;
  font-family: 'orbitron_mediumregular';
  font-size: 70px;
  line-height: 1;
  color: #FFFFFF;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 80px;
    background: #FFFFFF;
  }
}
.box__welcome-description{
  font-family: 'avenirregular';
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  max-width: 380px;
  margin-bottom: 25px;
}
.box__welcome-button{
  font-family: 'avenirregular';
  color: $blue-color;
  font-size: 16px;
  line-height: 1;
  //padding: 14px 25px 11px 25px;
  border-radius: 35px;
  float: left;
  border: none;
  width: auto;

  //max-width: 170px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffba8+0,ffa5a5+100 */
  //background: rgb(255,251,168); /* Old browsers */
  //background: -moz-linear-gradient(45deg,  rgba(255,251,168,1) 0%, rgba(255,165,165,1) 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(45deg,  rgba(255,251,168,1) 0%,rgba(255,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(45deg,  rgba(255,251,168,1) 0%,rgba(255,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffba8', endColorstr='#ffa5a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  //box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 25px;
}
.box__welcome_full{
  width: 100%;
}
.box__welcome__get-all{
  display: flex;
  align-items: center;
  cursor: pointer;
  .icon{
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin: 0 15px 0 0;
    img{
      width: 70%;
      display: block;
      margin: 5px 0 0 6px;
    }
  }
  p{
    font-family: 'avenirregular';
    font-size: 16px;
    color: #FFFFFF;
  }
}

.box__tokens{
  padding: 20px;
}
.token__list{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  overflow: hidden;
}
.token__list-item{
  position: relative;
  padding: 5px 25px;
  border-bottom: 1px solid #C0C0C0;
  height: 43px;
  display: flex;
  align-items: center;
  cursor: pointer;
  //overflow: hidden;
  &.disabled{
    opacity: .3;
    &:after{
      display: none;
    }
  }
  p{
    font-family: 'orbitron_mediumregular';
    font-size: 16px;
  }
  b{
    color: gray;
    font-weight: normal;
    margin: 0 5px;
    font-size: 16px;
  }
  &:after{
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc597+0,ffdc93+100 */
    background: rgb(255,197,151); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,197,151,1) 0%, rgba(255,220,147,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc597', endColorstr='#ffdc93',GradientType=1 ); /* IE6-9 */
    opacity: 0;
    border-radius: 4px;
    transition: .25s;
    cursor: pointer;
  }
  &:hover{
    &:after{
      opacity: 1;
    }
  }
}


.accordion-item{
  .accordion-item__head{
    p{
      font-family: 'orbitron_mediumregular';
      font-size: 16px;
      padding: 15px 0;
    }
  }
  &:hover{
    background: rgb(245, 245, 245);
  }
}
.accordion-sub__wrap{
  margin: -6px 0 0 0;
}
.accordion-sub__item{
  padding: 10px 0 10px 50px;
  cursor: pointer;
  border-top: 1px solid silver;
  p{
    font-family: 'orbitron_mediumregular';
    font-size: 14px;
  }
  &:hover{
    background: rgb(255,197,151); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,197,151,1) 0%, rgba(255,220,147,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc597', endColorstr='#ffdc93',GradientType=1 ); /* IE6-9 */
  }
  &.active{
    background: rgb(255,197,151); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,197,151,1) 0%, rgba(255,220,147,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc597', endColorstr='#ffdc93',GradientType=1 ); /* IE6-9 */
  }
}

.token__list-scroll{
  height: 100%;
  overflow: hidden;
}
.token__list-head{
  font-family: 'orbitron_mediumregular';
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding: 0 25px;
  p{
    font-size: 14px;
    color: #000000;
    padding: 15px 0;
    width: 15%;
    justify-content: center;
  }
}
.token__list-item_wrap{
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  >div{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
  }
}
.token__list-item_first{
  width: 40%!important;
  justify-content: flex-start!important;
}
.token__list-icon{
  font-family: 'avenirregular';
  width: 30px;
  height: 30px;
  //background-color: #0F59D1;
  border-radius: 50%;
  margin: 0 15px 0 0;
  text-align: center;
  display: flex;
  font-size: 16px;
  color: #000000;
  align-items: center;
}
.box__tokens-head{
  font-family: 'avenirregular';
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  align-items: center;
  p{
    color: #000000;
    font-size: 16px;
    margin: 0 15px 0 0;
  }
}
.box__tokens-head_button{
  color: $blue-color;
  border: 1px solid $blue-color;
  border-radius: 35px;
  padding: 6px 14px 4px 14px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
  transition: .3s;
  &:hover{
    border: 1px solid rgb(255,197,151);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc597+0,ffdc93+100 */
    background: rgb(255,197,151); /* Old browsers */
  }
}

.box__statistic{

}

.box__package{
}
.box__package-body{
  position: relative;
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}
.box__package-button{
  font-family: 'avenirregular';
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  padding: 14px 25px 11px 25px;
  border-radius: 35px;
  border: none;
  text-align: center;
  margin: 15px auto;
  width: 100%;
  max-width: 320px;
  background:  $blue-color;
  cursor: pointer;
  &.no-active{
    opacity: .5;
    background: #C0C0C0;
    cursor: inherit;
  }
}

.box__head{
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px;
  height: 59px;
  align-items: center;
  background: #EBEBEB;
  justify-content: center;
  //flex-direction: column;
  p{
    font-size: 24px;
    text-align: center;
    flex: 1;
    line-height: 1;
  }
}
.box__head-icon{
  width: 40px;
  height: 40px;
  //background-color: #0F59D1;
  border-radius: 50%;
  margin: 0 15px 0 0;
}


.box__head-button{
  position: absolute;
  font-family: 'avenirregular';
  top: 15px;
  right: 15px;
  padding: 10px 20px 6px 20px;
  font-size: 14px;
  line-height: 1;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc597+0,ffdc93+100 */
  background: rgb(255,197,151); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,197,151,1) 0%, rgba(255,220,147,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc597', endColorstr='#ffdc93',GradientType=1 ); /* IE6-9 */
  color: $blue-color;
  border-radius: 30px;
  cursor: pointer;
}

.box__success{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f59d1+0,2b6dff+40,ff7089+100 */
  background: rgb(15,89,209); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(15,89,209,1) 0%, rgba(43,109,255,1) 40%, rgba(255,112,137,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(15,89,209,1) 0%,rgba(43,109,255,1) 40%,rgba(255,112,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(15,89,209,1) 0%,rgba(43,109,255,1) 40%,rgba(255,112,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f59d1', endColorstr='#ff7089',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .box__head{
    background: rgba(255,255,255,.3);
  }
}

.box__success-wrap{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box__success-button{
  font-family: 'avenirregular';
  color: $blue-color;
  font-size: 16px;
  line-height: 1;
  padding: 14px 25px 11px 25px;
  border-radius: 35px;
  float: left;
  border: none;
  text-align: center;
  margin: 15px 0;
  width: 100%;
  max-width: 360px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffba8+0,ffa5a5+100 */
  background: rgb(255,251,168); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(255,251,168,1) 0%, rgba(255,165,165,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(255,251,168,1) 0%,rgba(255,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(255,251,168,1) 0%,rgba(255,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffba8', endColorstr='#ffa5a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none!important;
  &.light{
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
  }
}
.box__success-link{
  font-family: 'avenirregular';
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 25px;
}

.box__statistic-tab{
  position: relative;
  display: flex;
  width: 100%;
  height: 59px;
  align-items: center;
  background: #EBEBEB;
  justify-content: space-around;
  margin: 15px 0 0 0;
  button{
    font-family: 'orbitron_mediumregular';
    font-size: 21px;
    color: #000000;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    &.active{
      background: rgb(255,251,168); /* Old browsers */
      background: -moz-linear-gradient(45deg,  rgba(255,251,168,1) 0%, rgba(255,165,165,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg,  rgba(255,251,168,1) 0%,rgba(255,165,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg,  rgba(255,251,168,1) 0%,rgba(255,165,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffba8', endColorstr='#ffa5a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
}

.box__statistic-body{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.box__statistic-chart{
  display: block;
  margin: auto;
}
.box__statistic-nav{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box__statistic-button{
  width: 45px;
  height: 100px;
  background: $blue-color;
  border-radius: 5px 0 0 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: .3s;
  transform: translate3d(7px,0,0);
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    font-family: 'avenirregular';
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.01em;
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  &:hover{
    width: 44px;
    transform: translate3d(1px,0,0);
  }
  &.gray{
    background: #C0C0C0;
    p{
      color: #000000;
    }
  }
  &.package{
    height: 200px;
    p{
      width: 200px;
    }
  }
}

.box__lock-body{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lock{
  position: relative;
  width: 200px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 25px;
  &.locked{
    .lock-head{
      transform: scaleX(-1);
      right: 49px;
      top: 48px;
    }
  }
  &.unlocked{
    .lock-head{
      transform: scaleX(1);
      top:0;
      right: -10px;
    }
  }
}
.lock-body{
  position: relative;
  width: 100%;
  height: 180px;
  background: $blue-color;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.lock-body__form{
  position: relative;
  width: 130px;
  height: 65px;
  display: flex;
  .input{
    font-family: 'orbitron_mediumregular';
    font-size: 16px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    margin: 0 3px;
    border-radius: 8px;
    border: none;
    text-align: center;

  }
  input{
    position: absolute;
    z-index: 1;
    top:20px;
    left: 0;
    background: red;
    font-family: 'orbitron_mediumregular';
    font-size: 16px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0
    }
    &[type=number] {
      -moz-appearance:textfield; /* Firefox */
    }
  }
  p{
    font-family: 'avenirregular';
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1;
    align-self: center;
  }
}
.lock-head{
  position: absolute;
  top: 0;
  right: 49px;
  width: 93px;
  height: 133px;
  background: url(../../assets/images/lock-head.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  transition: .3s;
}
.lock-info{
  font-family: 'avenirregular';
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lock-info__item{
  width: 100%;
  margin-bottom: 5px;
  font-size: 21px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  input{
    font-family: "avenirregular";
    border: none;
    font-size: 21px;
    line-height: 21px;
    width: 85px;
    margin-right: -10px;
    padding: 7px 10px 3px 0;
    text-align: right;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc597+0,ffdc93+100 */
    background: rgb(255,197,151); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,197,151,1) 0%, rgba(255,220,147,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,197,151,1) 0%,rgba(255,220,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc597', endColorstr='#ffdc93',GradientType=1 ); /* IE6-9 */
    color: $blue-color;
    border-radius: 30px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0
    }
    &[type=number] {
      -moz-appearance:textfield;
    }
  }
}
.box__contactus{

}
.box__contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  p{
    font-family: 'avenirregular';
    color: $blue-color;
    font-size: 24px;
    line-height: 1.5;
    max-width: 360px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
}
.box__contact-field{
  display: flex;
  width: 100%;
  &.align-right{
    justify-content: flex-end;
  }
  input, textarea{
    font-family: 'avenirregular';
    width: 100%;
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 16px;
    margin: 10px 0;
  }
  textarea{
    min-height: 140px;
    resize: none;
  }
}
.box__contact-button{
  font-family: 'avenirregular';
  padding: 10px 35px;
  background: #0F59D1;
  border-radius: 610px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
}

@media screen and (max-width: 980px){
  .box__welcome-wrap{
    padding: 40px 90px;
  }
}

@media screen and (max-width: 650px){
  .panel{
    left: 0;
    margin-left: 0;
  }
  .box__welcome-wrap{
    padding: 20px 15px;
  }
  .box__welcome-title{
    font-size: 48px;
    line-height: 1.2;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .box__welcome-description{
    margin-bottom: 20px;
  }
  .box__welcome-button{
    margin-bottom: 20px;
  }
  .box__head{
    p{
      font-size: 21px;
    }
  }
}

@media screen and (max-height: 600px){
  .box__welcome-wrap{
    padding: 40px 100px;
  }
}