<div class="container">
    <div class="background">
        <div class="stars"></div>
        <div class="twinkling"></div>
        <div class="gradient"></div>
    </div>

    <div class="header">
        <h1 class="header__title">Mission control</h1>
    </div>

    <div class="content">
        <div class="content-wrap">
            <perfect-scrollbar class="content-scroll" #scroll>
                <div class="panel"
                     #panel
                     [ngStyle]="{'width': getCountVisibleBox() * cardWidth + (screenWidth > 650 ? screenWidth/2-cardWidth/2 : 0) + 'px'}">
                    <div class="box box__welcome box-1"
                         [ngStyle]="{'width': cardWidth + 'px'}"
                         *ngIf="boxes[1].visible">
                        <div class="home--loader" *ngIf="isAuthLoading">
                            <div class="spinner">
                                <div class="spinner-icon"></div>
                            </div>
                        </div>
                        <div class="box__welcome-wrap">
                            <span class="box__welcome-title">
                                No more Exuses
                            </span>
                            <span class="box__welcome-description">
                               Welcome to MISSION CONTROL where you now have a home for your DAPP Network participation purposes.
                            </span>
                            <div class="box__welcome-button" id="ual-div"></div>

                            <div class="box__welcome_full">
                                <div class="box__welcome__get-all" (click)="!isLoading ? onScatter() : null">
                                    <div class="icon">
                                        <img *ngIf="!isLoading" src=".././../assets/images/arrow-right.svg"/>
                                        <div *ngIf="isLoading" class="spinner">
                                            <div class="spinner-icon"></div>
                                        </div>
                                    </div>
                                    <p *ngIf="!isLoading">Browse ALL</p>
                                    <p *ngIf="isLoading">Loading ...</p>
                                </div>
                                <div class="user-balances">
                                    <p *ngIf="userBalances['dapp']['availableBalance'] != null">
                                        {{ userBalances['dapp']['availableBalance'] }}
                                        <label>DAPP</label>
                                    </p>
                                    <p *ngIf="userBalances['hodl']['availableBalance'] != null">
                                        {{ userBalances['hodl']['availableBalance'] }}
                                        <label>HODL</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box__tokens box-2"
                         [ngStyle]="{'width': cardWidth + 'px'}"
                         *ngIf="boxes[2].visible"
                         [@enterAnimation]>
                        <div class="box__tokens-head">
                            <p class="box__tokens-head_label">Filter by:</p>
                            <!--<div class="box__tokens-head_button">My tokens</div>-->
                            <div class="box__tokens-head_button"
                                 [ngClass]="{'active': item == selectedFilter}"
                                 (click)="onFilterProviders('all')">
                                All
                            </div>
                            <ng-container *ngFor="let item of servicesFilter">
                                <div class="box__tokens-head_button"
                                     [ngClass]="{'active': item == selectedFilter}"
                                     (click)="onFilterProviders(item)">
                                    {{ item }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="token__list"
                             *ngIf="data && data['providers']">
                            <div class="token__list-head">
                                <p class="token__list-item_first">providers</p>
                                <p>services</p>
                                <p>users</p>
                                <p>staked</p>
                            </div>
                            <div class="token__list-scroll">
                                <ng-container *ngFor="let item of data['providers']">
                                    <div class="token__list-item"
                                         *ngIf="!item['hidden']"
                                         (click)="item.enabled != 0 ? onProvider(item) : null"
                                         [ngClass]="{'disabled':item.enabled == 0}">
                                        <div class="token__list-item_wrap">
                                            <div class="token__list-item_first">
                                                <ng-container *ngIf="item.provider">
                                                    <a href="http://{{ item.website }}" target="_blank">
                                                        <img class="token__list-icon"
                                                             [src]="'../../assets/images/providers/' + item.provider + '.svg'"/>
                                                    </a>
                                                </ng-container>
                                                <p>{{ item.provider }}</p>
                                            </div>
                                            <div><p>{{ item.services ? item.services.length : 0 }}</p></div>
                                            <div><p>{{ item.users ? item.users : 0 }}</p></div>
                                            <div><p>{{ roundNumber(item.staked) }}</p></div>
                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                    <div class="box box__statistic box-3"
                         [ngStyle]="{'width': cardWidth + 'px'}"
                         *ngIf="boxes[3].visible"
                         [@enterAnimation]>
                        <div class="box__head" *ngIf="currentProvider">
                            <img class="box__head-icon"
                                 *ngIf="currentProvider['provider']"
                                 [src]="'../../assets/images/providers/' + currentProvider['provider'] + '.svg'">
                            <p>{{ currentProvider ? currentProvider['provider'] : '' }} - Stats</p>
                        </div>
                        <div class="box__statistic-body" *ngIf="currentProvider">
                            <div class="box__statistic-tab">
                                <button
                                        [ngClass]="{'active': pieData[0]['type'] == 1}"
                                        (click)="onSelectTypePipe(1)">Users
                                </button>
                                <button
                                        [ngClass]="{'active': pieData[0]['type'] == 2}"
                                        (click)="onSelectTypePipe(2)">Staked
                                </button>
                            </div>
                           <!-- <ngx-charts-pie-chart
                                    *ngIf="isBrowser"
                                    class="box__statistic-chart"
                                    [view]="[300, 300]"
                                    [scheme]="{domain: ['#23235c', '#C0C0C0']}"
                                    [results]="pieData"
                                    [legendTitle]=null
                                    [legend]="true">
                            </ngx-charts-pie-chart>-->
                            <div class="box__statistic-nav">
                                <div class="box__statistic-button package"
                                     (click)="onNextCard(4);">
                                    <p>Choose Package</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box__package box-4"
                         [ngStyle]="{'width': cardWidth + 'px'}"
                         *ngIf="boxes[4].visible"
                         [@enterAnimation]>
                        <div class="box__head">
                            <img class="box__head-icon"
                                 *ngIf="currentProvider['provider']"
                                 [src]="'../../assets/images/providers/' + currentProvider['provider'] + '.svg'">
                            <p>{{ currentProvider ? currentProvider['provider'] : '' }} - Choose a Package</p>
                        </div>
                        <div class="box__package-body">
                            <div class="token__list">
                                <div class="token__list-scroll" *ngIf="currentProvider">
                                    <mat-accordion [multi]="false">
                                        <mat-expansion-panel class="accordion-item"
                                                             *ngFor="let item of currentProvider['services']">
                                            <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                                                <div class="accordion-item__head">
                                                    <p>{{ item.service }}</p>
                                                    <label>({{ item['users'] }} users)</label>
                                                </div>
                                            </mat-expansion-panel-header>

                                            <div class="accordion-sub__wrap"
                                                 *ngIf="item['packages'] && item['packages'].length">
                                                <div class="accordion-sub__item"
                                                     *ngFor="let pack of item['packages']"
                                                     [ngClass]="{'active': pack['package_id'] == selectedPackage['package']}"
                                                     (click)="setCurrentIdPackage(item['service'], pack['package_id'])">
                                                    <p>{{ pack['name'] || pack['package_id'] }}</p>
                                                    <label>({{ pack['users'] }} users)</label>
                                                </div>
                                            </div>

                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                            <div class="box__package-button"
                                 (click)="!isSelectLoading ? onSelect() : null"
                                 [ngClass]="{'no-active': !selectedPackage['service']}">
                                <div *ngIf="isSelectLoading" class="spinner">
                                    <div class="spinner-icon"></div>
                                </div>
                                <ng-container *ngIf="!isSelectLoading">Select</ng-container>
                            </div>

                            <div class="box__statistic-nav">
                                <div class="box__statistic-button gray"
                                     *ngIf="selectedPackage['service']"
                                     (click)="onStake();">
                                    <p>Stake</p>
                                </div>
                                <div class="box__statistic-button"
                                     *ngIf="selectedPackage['service'] && currentProvider['user_staked'] > 0"
                                     (click)="onUnStake();">
                                    <p>Unstake</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box__lock box-5"
                         [ngStyle]="{'width': cardWidth + 'px'}"
                         *ngIf="boxes[5].visible"
                         [@enterAnimation]>
                        <div class="box__head">
                            <img class="box__head-icon"
                                 *ngIf="currentProvider['provider']"
                                 [src]="'../../assets/images/providers/' + currentProvider['provider'] + '.svg'">
                            <p>{{ currentProvider ? currentProvider['provider'] : '' }} - LOCK</p>
                            <div class="box__head-button" (click)="!isSignLoading ? onSignTransaction() : null">
                                <div *ngIf="isSignLoading" class="spinner">
                                    <div class="spinner-icon"></div>
                                </div>
                                <label *ngIf="!isSignLoading">SIGN</label>
                            </div>
                        </div>
                        <div class="box__lock-body">
                            <div class="lock"
                                 [ngClass]="{'locked': lock, 'unlocked': !lock}">
                                <div class="lock-head"></div>
                                <div class="lock-body">
                                    <form class="lock-body__form">
                                        <div class="input"></div>
                                        <div class="input"></div>
                                        <div class="input"></div>
                                        <input type="number"
                                               maxlength="3"
                                               min="0"
                                               max="100"
                                               [(ngModel)]="rateLockInput"
                                               name="rateLockInput"
                                               pattern="^$|^([0-9]|[1-9][0-9]|[1][0][0])?"
                                               (keypress)="keytab($event)"/>
                                        <p>%</p>
                                    </form>
                                </div>
                            </div>
                            <div class="lock-info" *ngIf="userBalances">
                                <div class="lock-info__item">
                                    <p>Available Balance:</p>
                                    <b>{{ userBalances[userBalanesType]['availableBalance'] || 0 }} {{
                                        userBalances[userBalanesType]['code'] }}</b>
                                </div>
                                <div class="lock-info__item">
                                    <p>Stake Quantity:</p>
                                    <input type="number"
                                           [(ngModel)]="stakeQut"
                                           [ngClass]="{'error': userBalances[userBalanesType]['newBalance'] < 0 || stakeQut < 0}"
                                           (keyup)="setBallances($event, userBalanesType)" value="1"
                                    />
                                </div>
                                <div class="lock-info__item lock-info__item-footer">
                                    <div class="lock-info__item-wrap">
                                        <img class="lock-info__item-icon"
                                             (click)="onChangeBalanceType()"
                                             src="../../assets/images/{{ userBalanesType }}.png"/>
                                        <p>New Balance:</p>
                                    </div>
                                    <b>{{ userBalances[userBalanesType]['newBalance'] || 0 }} {{
                                        userBalances[userBalanesType]['code'] }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box__success box-6"
                         [ngStyle]="{'width': cardWidth + 'px'}"
                         *ngIf="boxes[6].visible"
                         [@enterAnimation]>
                        <div class="box__head">
                            <p>Transaction success</p>
                        </div>
                        <div class="box__success-wrap">
                            <a *ngIf="transactionUrl"
                               href="{{ transactionUrl }}"
                               target="_blank"
                               class="box__success-link">
                                {{ transactionUrl }}
                            </a>
                            <div class="box__success-button" (click)="onChooseToken()">Choose different token</div>
                            <!--<a href="https://telegram.me/levytskyy"
                               target="_blank"
                               class="box__success-button light" >Telegram Channel</a>-->
                        </div>
                    </div>
                    <!--<div class="box box__contactus box-7"
                         [ngStyle]="{'width': cardWidth + 'px'}"
                         *ngIf="boxes[7].visible"
                         [@enterAnimation]>
                        <div class="box__head">
                            <p>Found what you wanted?</p>
                        </div>
                        <div class="box__contact">
                            <p>
                                If not, please let us know!
                                Any feedback is appreciated :)
                            </p>
                            <div class="box__contact-field">
                                <input type="text" placeholder="Your @nic on Telegram">
                            </div>
                            <div class="box__contact-field">
                                <textarea placeholder="Type text"></textarea>
                            </div>
                            <div class="box__contact-field align-right">
                                <div class="box__contact-button">Send</div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </perfect-scrollbar>

        </div>
    </div>


</div>